body {
  font-family: Arial, sans-serif;
  
  margin-left: 20px;
  margin-right: 20px;
}

header ul,nav ul{  
  text-align: center;
  
  margin: 0px;
}

header li, nav li{
  display: inline;
  padding-right: 20px;
}

header h1 {
  display: inline;
}

header img {
  vertical-align: bottom;
}

header {  
  padding: 10px;
  font-size: 2.5em;
  
  margin-bottom: 10px;
}

header, footer {
  background-color: #D8DDEF;
}

nav a {
  text-decoration: none;
  color: #439A86;
}

nav a:hover {
  color: #E9D985;
}

nav {
  padding: 10px;
  
  background-color: rgb(34,46,80);
  
  margin-bottom: 10px;
  
  font-weight: bold;
}

footer {
  text-align: center;
  
  padding: 10px;
  
  clear: both;
}